<section class="skills">
    <div class="container">
        <h1>Skills and Achievements</h1>
        
        <h2>Skills</h2>
        <ul>
            <li>Computer programming</li>
            <li>Teamwork</li>
            <li>Public speaking</li>
            <li>Collaborative nature</li>
            <li>Leadership</li>
        </ul>
        
        <h2>Certifications</h2>
        <ul>
            <li>Google - the fundamental of digital marketing</li>
            <li>Hackathon</li>
            <li>SMO - Social media optimization</li>
        </ul>
        
        <h2>Coding Languages</h2>
        <ul>
            <li>HTML, CSS</li>
            <li>C, C++</li>
            <li>JAVA</li>
            <li>PHP</li>
        </ul>
        
        <h2>Hobbies</h2>
        <ul>
            <li>Gymnastics</li>
            <li>Swimming</li>
            <li>Dancing</li>
            <li>Athletics</li>
        </ul>
    </div>
</section>
